---
title: "05 Forms: Basics"
layout: "default.njk"
date: 2024-02-01
tags: ["lesson"]
---
<div lang="de">
    <details class="c-exercise" open>
        <summary class="c-exercise__title">Aufgabenstellung</summary>
        <p class="c-exercise__text">Untersuche das Formular unten auf der Seite. Nutze ein Tool deiner Wahl zur Unterstützung und verwende auch die Tastatur, um das Formular ohne Maus auszufüllen. Was fällt dir auf? Was würdest du anpassen, um die Barrieren zu beseitigen?</p>
    </details>
</div>

<main>
    <h1>Checkout</h1>
    <form class="c-form" action="#">
        <div class="c-form__fieldset">
            <h2>Billing Address</h2>

            <label>Firstname</label>
            <input type="text" placeholder="e.g. “Max”">

            <label>Lastname</label>
            <input type="text" placeholder="e.g. “Mustermann”">

            <label>Street</label>
            <input type="text" placeholder="e.g. “Konsul-Smidt-Straße”">

            <label>Number</label>
            <input type="text" placeholder="e.g. “26”">

            <label>ZIP</label>
            <input type="text" placeholder="e.g. “28217”">
        </div>

        <div class="c-form__fieldset">
            <h2>Delivery Address</h2>

            <label>Firstname</label>
            <input type="text" placeholder="e.g. “Max”">

            <label>Lastname</label>
            <input type="text" placeholder="e.g. “Mustermann”">

            <label>Street</label>
            <input type="text" placeholder="e.g. “Konsul-Smidt-Straße”">

            <label>Number</label>
            <input type="text" placeholder="e.g. “26”">

            <label>ZIP</label>
            <input type="text" placeholder="e.g. “28217”">
        </div>

        <div class="c-form__footer">
            <button class="c-button" type="submit">
                <span class="c-button__label">Proceed with checkout</span>
            </button>
        </div>
    </form>
</main>
