---
title: "05 Forms: Basics"
layout: "default.njk"
date: 2024-02-01
tags: ["lesson"]
---

<main>
    <h1>Checkout</h1>
    <form class="c-form" action="#">
        <fieldset class="c-form__fieldset">
            <legend>
                <h2>Billing Address</h2>
            </legend>

            <label for="billing_first-name">Firstname</label>
            <input
                id="billing_first-name"
                type="text"
            >

            <label for="billing_last-name">Lastname</label>
            <input
                id="billing_last-name"
                type="text"
            >

            <label for="billing_street">Street</label>
            <input
                id="billing_street"
                type="text"
            >

            <label for="billing_street-number">Number</label>
            <input
                id="billing_street-number"
                type="text"
            >

            <label for="billing_postal-code">ZIP</label>
            <input
                id="billing_postal-code"
                type="text"
            >
        </fieldset>

        <fieldset class="c-form__fieldset">
            <legend>
                <h2>Delivery Address</h2>
            </legend>

            <label for="delivery_first-name">Firstname</label>
            <input
                id="delivery_first-name"
                type="text"
            >

            <label for="delivery_last-name">Lastname</label>
            <input
                id="delivery_last-name"
                type="text"
            >

            <label for="delivery_street">Street</label>
            <input
                id="delivery_street"
                type="text"
            >

            <label for="delivery_street-number">Number</label>
            <input
                id="delivery_street-number"
                type="text"
            >

            <label for="delivery_postal-code">ZIP</label>
            <input
                id="delivery_postal-code"
                type="text"
            >
        </fi>

        <div class="c-form__footer">
            <button class="c-button" type="submit">
                <span class="c-button__label">Proceed with checkout</span>
            </button>
        </div>
    </form>
</main>
