---
title: "07 Forms: Required Form Fields"
layout: "proposal.njk"
date: 2024-02-03
tags: ["proposal"]
---

<main>
    <h1>Account Data</h1>
    <form
        class="c-form"
        action="#"
        novalidate
    >
        <fieldset class="c-form__fieldset">
            <legend>Personal Data</legend>

            <label for="firstname">Firstname <span class="u-text-inferior">(required)</span></label>
            <input
                id="firstname"
                type="text"
                aria-required="true"
            >

            <label for="lastname">Lastname <span class="u-text-inferior">(required)</span></label>
            <input
                id="lastname"
                type="text"
                aria-required="true"
            >

            <label for="birthday">Birthday <span class="u-text-inferior">(optional)</span></label>
            <input
                id="birthday"
                type="date"
            >
        </fieldset>

        <fieldset class="c-form__fieldset">
            <legend>Contact</legend>

            <label for="street-and-number">Street & number <span class="u-text-inferior">(required)</span></label>
            <input
                id="street-and-number"
                type="text"
                aria-required="true"
            >

            <label for="zip">ZIP <span class="u-text-inferior">(required)</span></label>
            <input
                id="zip"
                type="text"
                aria-required="true"
            >

            <label for="telephone">Telephone <span class="u-text-inferior">(optional)</span></label>
            <input
                id="telephone"
                type="tel"
            >

            <label for="email">Email <span class="u-text-inferior">(required)</span></label>
            <input
                id="email"
                type="email"
                aria-required="true"
                autocomplete="off"
            >
            <label for="email2">Email <span class="u-text-inferior">(required)</span></label>
            <input
                id="email2"
                type="email"
                aria-required="true"
            >
        </fieldset>

        <fieldset class="c-form__fieldset">
            <legend>Subscribe to Newsletter <span class="u-text-inferior">(optional)</span></legend>

            <div class="c-radio-group">
                <div class="c-radio-group__item">
                    <label for="newsletter-subscription-yes">Yes</label>
                    <input
                        type="radio"
                        name="newsletter-subscription"
                        id="newsletter-subscription-yes"
                    >
                </div>

                <div class="c-radio-group__item">
                    <label for="newsletter-subscription-no">No</label>
                    <input
                        type="radio"
                        name="newsletter-subscription"
                        id="newsletter-subscription-no"
                    >
                </div>
            </div>
        </fieldset>

        <div class="c-form__footer">
            <button class="c-button" type="submit">
                <span class="c-button__label">Save Account Data</span>
            </button>
        </div>
    </form>
</main>
