---
title: "07 Forms: Required Form Fields"
layout: "default.njk"
date: 2024-02-03
tags: ["lesson"]
---
<div lang="de">
    <details class="c-exercise" open>
        <summary class="c-exercise__title">Aufgabenstellung</summary>
        <p class="c-exercise__text">Nutzer:innen müssen rechtzeitig darüber informiert werden, welche Felder Pflichtfelder sind. Was an der Lösung unten ist diesbezüglich nicht barrierefrei und könnte zu Missverständnissen führen? Welche Anpassungen (inhaltlich und technisch) könnte man vornehmen, um diese Barrieren zu beseitigen?</p>
    </details>
</div>

<main>
    <h1>Account Data</h1>
    <form class="c-form" action="#">
        <fieldset class="c-form__fieldset">
            <legend>Personal Data</legend>

            <label for="firstname">Firstname *</label>
            <input id="firstname" type="text">

            <label for="lastname">Lastname *</label>
            <input id="lastname" type="text">

            <label for="birthday">Birthday <span class="u-text-optional">(optional)</span></label>
            <input id="birthday" type="date">
        </fieldset>

        <fieldset class="c-form__fieldset">
            <legend>Contact</legend>

            <label for="street-and-number">Street & number *</label>
            <input id="street-and-number" type="text">

            <label for="zip">ZIP *</label>
            <input id="zip" type="text">

            <label for="telephone">Telephone <span class="u-text-optional">(optional)</span></label>
            <input id="telephone" type="tel">

            <label for="email">Email *</label>
            <input id="email" type="email">
        </fieldset>

        <fieldset class="c-form__fieldset">
            <legend>Subscribe to Newsletter <span class="u-text-optional">(optional)</span></legend>

            <div class="c-radio-group">
                <div class="c-radio-group__item">
                    <label for="newsletter-subscription-yes">Yes</label>
                    <input type="radio" name="newsletter-subscription" id="newsletter-subscription-yes">
                </div>

                <div class="c-radio-group__item">
                    <label for="newsletter-subscription-no">No</label>
                    <input type="radio" name="newsletter-subscription" id="newsletter-subscription-no">
                </div>
            </div>
        </fieldset>

        <div class="c-form__footer">
            <button class="c-button" type="submit">
                <span class="c-button__label">Save Account Data</span>
            </button>
        </div>
    </form>
</main>
