:root,
:host {
    // Colors
    --color-highlight: #8e3a6b;
    --color-alternative: #385892;
    --color-black: #04080f;
    --color-white: #fff;
    --color-offwhite: #f0f0f0;
    --color-error: #d60202;

    --color-background-highlight: var(--color-highlight);
    --color-background-alternative: rgb(56, 88, 146, 0.25);
    --color-background-default: var(--color-white);
    --color-background-defensive: var(--color-offwhite);
    --color-background-error: rgba(214, 2, 2, 0.075);

    --color-text-default: var(--color-black);
    --color-text-inverted: var(--color-white);
    --color-text-alternative: var(--color-alternative);
    --color-text-highlight: var(--color-highlight);
    --color-text-error: var(--color-error);

    --color-icon-highlight: var(--color-highlight);

    --color-border-default: var(--color-black);
    --color-border-highlight: var(--color-highlight);
    --color-border-error: var(--color-error);

    // Spacings
    --spacing-xl: 60px;
    --spacing-l: 45px;
    --spacing-default: 30px;
    --spacing-s: 20px;
    --spacing-xs: 15px;
    --spacing-xxs: 8px;
    --spacing-xxxs: 4px;

    // Border widths
    --border-width-default: 1px;
    --border-width-thick: 3px;
    --border-width-embellish: 10px;

    // Heights
    --height-form-elements: 44px;
    --height-controls-small: 30px;

    // Icon Sizes
    --icon-size-default: 18px;
    --icon-size-l: 24px;
}
