<footer class="c-footer">
    <nav class="c-footer-navigation" aria-labelledby="D281D4D4-27D5-46B6-A8F6-99BAA58B8780">
        <span id="D281D4D4-27D5-46B6-A8F6-99BAA58B8780" hidden>Meta</span>
        <ul class="c-footer-navigation__list" role="list">
            <li class="c-footer-navigation__item">
                <a class="c-footer-navigation__link" href="#">About Us</a>
            </li>
            <li class="c-footer-navigation__item">
                <a class="c-footer-navigation__link" href="#">Legal Information</a>
            </li>
            <li class="c-footer-navigation__item">
                <a class="c-footer-navigation__link" href="#">Business Conditions</a>
            </li>
        </ul>
    </nav>
</footer>
