<div class="c-footer">
    <div class="c-footer-navigation">
        <ul class="c-footer-navigation__list" role="list">
            <li class="c-footer-navigation__item">
                <a class="c-footer-navigation__link" href="#">About Us</a>
            </li>
            <li class="c-footer-navigation__item">
                <a class="c-footer-navigation__link" href="#">Legal Information</a>
            </li>
            <li class="c-footer-navigation__item">
                <a class="c-footer-navigation__link" href="#">Business Conditions</a>
            </li>
        </ul>
    </div>
</div>
