---
title: "01 Images"
layout: "default.njk"
date: 2024-01-01
tags: ["lesson"]
---
<div lang="de">
    <details class="c-exercise" open>
        <summary class="c-exercise__title">Aufgabenstellung</summary>
        <p class="c-exercise__text">Finde alle Barrieren am Bild unten auf der Seite und überlege, wie man diese beseitigen kann. Nimm dazu ein Tool deiner Wahl (WAVE, Axe, ARC Toolkit etc.) zur Hilfe.</p>
    </details>
</div>

<main>
    <h1>Images</h1>

    <p>When using images on websites, you need to make sure that the content of images can also be understood by blind users. Our job is to help users with disabilities as best as we can, so they are able to participate in the digital world just as they would in the analog world.</p>

    <figure>
        <img src="/img/2024-05-24-0123434.webp">
    </figure>

    <p>This is why we provide alternative text to images that convey additional information to the text surrounding it.</p>
</main>
