---
title: "01 Images"
layout: "default.njk"
date: 2024-01-01
tags: ["lesson"]
---

<main>
    <h1>Images</h1>

    <p>When using images on websites, you need to make sure that the content of images can also be understood by blind users. Our job is to help users with disabilities as best as we can, so they are able to participate in the digital world just as they would in the analog world.</p>

    <figure>
        <img
            src="/img/blind-person.webp"
            alt="A man with a cane walks on a tactile paving sidewalk at a transit station, wearing a black jacket and pants."
        >
    </figure>

    <p>This is why we provide alternative text to images that convey additional information to the text surrounding it.</p>

    <footer>
        <hr>
        <button class="c-icon-button" type="button">
            <img class="c-icon-button__icon" src="/img/thumbsup.png">
        </button>
    </footer>
</main>
