.u-title-h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-block-end: var(--spacing-default);
}

.u-title-h2 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-block-end: var(--spacing-default);
}
