.c-icon-only-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--height-form-elements);
    height: var(--height-form-elements);
    border: var(--border-width-default) solid var(--color-border-default);
    border-radius: 50%;
}

.c-icon-only-button__icon {
    width: var(--icon-size-l);
    height: var(--icon-size-l);
}
