.c-icon-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: var(--border-width-default) solid var(--color-border-default);
    border-radius: 50%;
}

.c-icon-button__icon {
    width: 32px;
    height: 32px;
}
