.c-section-title {
    margin-block-end: var(--spacing-default);
}

.c-section-title__title {
    margin-block-end: 0;
}

.c-section-title__subtitle {
    margin-block-end: 0;
    line-height: 1.5;
}
