---
title: "50 Tabbed"
layout: "default.njk"
date: 2024-06-01
tags: ["lesson"]
---
<aside lang="de">
    <details class="c-exercise" open>
        <summary class="c-exercise__title">Aufgabenstellung</summary>
        <p class="c-exercise__text">Hier findest du ein Beispiel für eine nach dem “Progressive Enhancement” Ansatz umgesetzen Tabbed Komponente. <em>Ohne</em> JavaScript bildet sie zunächst ein statisches Table of Contents. Erst durch JavaScript wird dies zu einer interaktiven Tabbed Komponente. Binde dazu die <code>tabbed.js</code> Datei ein.</p>
    </details>
</aside>

{% include "_page-header.njk" %}

<main>
    <div class="c-tabbed" data-tabbed>
        <ul>
            <li>
                <a href="#section1">Section 1</a>
            </li>
            <li>
                <a href="#section2">Section 2</a>
            </li>
            <li>
                <a href="#section3">Section 3</a>
            </li>
            <li>
                <a href="#section4">Section 4</a>
            </li>
        </ul>
        <section id="section1">
            <h2>Section 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur, <a href="#">adipisicing elit</a>. Cumque similique culpa beatae veritatis mollitia ducimus quaerat iste, vitae fugiat velit alias omnis facere officiis quae rerum accusamus nisi esse hic.</p>
        </section>
        <section id="section2">
            <h2>Section 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur, <a href="#">adipisicing elit</a>. Cumque similique culpa beatae veritatis mollitia ducimus quaerat iste, vitae fugiat velit alias omnis facere officiis quae rerum accusamus nisi esse hic.</p>
        </section>
        <section id="section3">
            <h2>Section 3</h2>
            <p>Lorem ipsum dolor sit amet consectetur, <a href="#">adipisicing elit</a>. Cumque similique culpa beatae veritatis mollitia ducimus quaerat iste, vitae fugiat velit alias omnis facere officiis quae rerum accusamus nisi esse hic.</p>
        </section>
        <section id="section4">
            <h2>Section 4</h2>
            <p>Lorem ipsum dolor sit amet consectetur, <a href="#">adipisicing elit</a>. Cumque similique culpa beatae veritatis mollitia ducimus quaerat iste, vitae fugiat velit alias omnis facere officiis quae rerum accusamus nisi esse hic.</p>
        </section>
    </div>
</main>

{% include "_page-footer.njk" %}
