---
title: "08 Forms: Validation"
layout: "default.njk"
date: 2024-02-04
tags: ["lesson"]
---
<aside lang="de">
    <details class="c-exercise" open>
        <summary class="c-exercise__title">Aufgabenstellung</summary>
        <p class="c-exercise__text">Nach der (fehlerhaften) Validierung von Formularen benötigen Nutzer:innen die Informationen, <em>welche</em> Felder invalide sind, <em>was</em> daran invalide ist und sie benötigen <em>Unterstützung bei der Behebung</em> der Fehler. Welche Probleme — sowohl visueller, als auch technischer Natur — hält das Formular unten bereit und was sind die Ansätze, um diese Probleme zu beseitigen?</p>
    </details>
</aside>

<main>
    <h1>Register</h1>
    <form class="c-form" action="#">
        <fieldset class="c-form__fieldset">
            <legend>Personal Data</legend>

            <label for="firstname">Firstname <span class="u-text-inferior">(optional)</span></label>
            <input id="firstname" type="text" value="Max">

            <label for="lastname">Lastname <span class="u-text-inferior">(optional)</span></label>
            <input id="lastname" type="text" value="Mustermann">

            <label for="email">Email</label>
            <input class="is-error" id="email" type="email" aria-required="true" value="max@mustermann.d">

            <label for="password">Password</label>
            <input class="is-error" id="password" type="password" aria-required="true" value="password123">
            <div class="c-input-hint"><strong>Password instructions:</strong> At least 12 characters, lowercase and uppercase characters, letters and numbers, at least on special character (e.g. !, @, #, ?)</div>

            <label for="street-and-number">Street & number</label>
            <input id="street-and-number" type="text" aria-required="true" value="Musterstraße 42">

            <label for="city">City</label>
            <input id="city" type="text" aria-required="true" value="Musterstadt">

            <label for="zip">ZIP</label>
            <input class="is-error" id="zip" type="text" aria-required="true" value="">
        </fieldset>

        <div class="c-form__footer">
            <button class="c-button" type="submit">
                <span class="c-button__label">Register</span>
            </button>
        </div>
    </form>
</main>
