html {
    font-size: 20px;
    line-height: 1.75;
    scroll-behavior: smooth;
}

body {
    max-width: 960px;
    margin-block-end: var(--spacing-xl);
    margin-inline: auto;
    padding-inline: var(--spacing-default);
    font-family: "Arial", sans-serif;
    color: var(--color-text-default);
}

main {
    padding-block: var(--spacing-default);
}
